body {
    text-align: center;
    font-family: Arial;
    background-color: #ececec;
}

* {
    font-family: Arial;
    color: grey;
}

/* Styles title */
h1 {
    font-size: 2em;
    text-transform: uppercase;
}

/* First margin value is top, second is right and left sides, third is bottom */
h4 {
    margin: 1em 0 0.75em;
    text-align: left;
    text-transform: uppercase;
}

/* Applies to italicized text */
em {
    font-size: 13px;
    color: #bfbfbf;
}

table,
tr,
td {
    border: none;
}

.pixel-canvas {
    background-color : white;
}

/* 'border-collapse' CSS property specifies whether a table's cells have shared or separate borders; 'collapse' value causes cells to have shared borders */
table {
    border-collapse: collapse;
}

tr {
    height: 4px;
}

td {
    min-width: 4px;
    box-sizing: border-box;
}

/* Styles height and width input boxes */
input[type=number] {
    width: 3em;
    border: 1px solid #dcdcdc;
}
.pixel_list{

}
/* Styles buttons, including a change of displayed mouse cursor to inform user he/she is hovering over something clickable */
.quick-fill, .erase-mode, .draw-mode {
    box-shadow: inset 0px 1px 0 0 #fff;
    background: linear-gradient(#f9f9f9 5%, #e9e9e9 100%);
    /* creates rounded edges (more pixels -> more rounded) */
    border-radius: 7px;
    border: 1px solid #dcdcdc;
    font-weight: bold;
    /* Padding is space between element's content and border. First value sets top and bottom padding; second value sets right and left */
    padding: 6px 24px;
    text-decoration: none;
    /* text-shadow: 0 1px #fff; */
    cursor: pointer;
    /* Places button on its own line */
    display: block;
    margin-top: 1em;
}

.color-picker {
    border: 1px solid #dcdcdc;
    -webkit-appearance: none;
    padding: 0;
    border: none;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
    padding: 0;
}
.color-picker::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 10px;
    padding: 0;
}

/* Styles content to left of grid */
.inputs {
    text-align: left;
    margin-left: 8em;
    margin-top: 5.35em;
    border-radius: 7px;
    border: 1px solid #dcdcdc;
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
    width: 200px;
    background-color : white;
}

.menuitem {
    padding:15px;
}

.horizontal_box {
    float: left;
}

.container {
    width: 350px;
    height: 350px;
    overflow: auto;
}

/* Part of two-column layout implementation */
.column {
    float: left;
    width: 35%;
}

/* Ensures title ('Pixel Art Maker') is centered above grid */
.column:last-of-type {
    width: auto;
}

/* Part of two-column layout implementation. :after' is a pseudo element, affecting display of generated content */
.row:after {
    /* You can't style generated content without defining what that content should be. If content not needed, just add extra 'invisible element' to style, and style that. Without this, default value of content: none is assumed, meaning there is nothing for style to be applied to */
    content: "";
    display: table;
    /* Cleared elements are pushed below the corresponding floated elements; 'clear: both' pushes element below all floated elements */
    clear: both;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

